body {
    background: white url("images/background.jpg");
    color: black;
}

.navbar{
        border-radius:0;
        color:black;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
    color:red;
}